:root {
  --move-header: 0;
  --box-header-ht: 3rem;
  --content-bg-color: #3c3b3c;
  --content-header: #464646;
}

body {
  background-image: url("https://i.pinimg.com/originals/25/14/45/25144570fe9aed637389b7ad3bc1c739.jpg");
  background-repeat: repeat;
  background-size: 50%;
  backdrop-filter: blur(5px)

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family:'Franklin Gothic Medium';
  font-size: 24px;
}

.manga {
  object-fit: contain;
  border-radius: 3px 3px 0 0;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 5rem;
}

.api {
  background-color: #3c3b3c;
}

.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  font-size: 2.5rem;
  text-align: center;
  z-index: 10;
}
 
.box {
  position: relative;
  width: 80%;
  margin-bottom: 2rem;
}

.head {
  top: 5rem;
  height: var(--box-header-ht);
  line-height: var(--box-header-ht);
  border-radius: 3px 3px 0 0;
  text-align: center;
  background-color: var(--content-header);
}

.content {
  padding: 2rem 1.5rem;
  background-color: var(--content-bg-color);
  border-top: 0; 
  border-radius: 0 0 5px 5px;
}

@media only screen and (max-width: 768px) {
  * {
    font-size: 16px;
  }
}

.imgtop{

  clip-path: polygon(0 0, 100% 0, 100% 78%, 39% 95%, 39% 95%, 0 79%)

}

p {
  color: aliceblue;
}

h2 {
  color: aliceblue;
}

.imgBG {
  width: 100%;
  height: 100%;
}

footer {
  background-color: #3c3b3c;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3c3b3c;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.text {
    text-align: center;
}